.comix__content {
    margin-top: 50px;
    width: 100%;

    .comix__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .comix__item {
            max-width: 225px;
            margin-bottom: 55px;
            transition: all 0.5s ease;
            cursor: pointer;
            &:hover {
                transform: translateY(-8px);
                img {
                    box-shadow: 5px 5px 10px rgba(255, 0, 0, 0.466);
                }
            }
            .comix__title {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 14px;
                margin-top: 10px;
            }
            .comix__price {
                margin-top: 10px;
                font-weight: 700;
                color: rgba(0, 0, 0, 60%);
            }
            img {
                width: 100%;
                object-fit: cover;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
            }
        }
    }

    button {
        display: block;
        margin: 0 auto;
    }
}