@import '../../style/variables.scss';

.comix__item__container {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;

    .comix_info__block {
        max-width: 85%;
        display: flex;
        .comix_info {
            margin: 0 50px;
        }

        .info__list {
            margin: 0;
            padding: 0;
            li {
                margin-bottom: 27px;
            }
            .price {
                color: $main-color;
                font-weight: 700;
                font-size: 24px;
            }
        }

        .img__box {
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
            img {
                object-fit: cover;
                max-width: auto;
            }
        }

        h2 {
            margin-bottom: 27px;
        }
    }

    .go__to__back {
        color: $dark;
        font-size: 18px;
        font-weight: 700;
        p {
            cursor: pointer;
            transition: all 0.5s ease;
            &:hover {
                transform: translateY(-3px);
            }
        }     
    }
}